In [1]:
s = {}
type(s)

dict

In [2]:
s = {1,2}
type(s)

set

In [4]:
d = {"name": "pavan", "name": "bairu"}
d

{'name': 'bairu'}

In [9]:
d1 = {1 : "abc"}
d1

{1: 'abc'}

In [10]:
d2 = { @: "abc"}

SyntaxError: invalid syntax (20395383.py, line 1)

In [11]:
d3 = {[1,2] : "abc"}

TypeError: unhashable type: 'list'

In [12]:
d4 = {(1,2) : "abc"}

In [13]:
d3

NameError: name 'd3' is not defined

In [14]:
d1

{1: 'abc'}

In [1]:
d5 = {{1,2,3} : "abc"}

TypeError: unhashable type: 'set'

In [2]:
d5 = {"abc" : {1,2,3}}

In [3]:
d5 = {"abc" : (1,2,3)}

In [4]:
d5 = {"abc" : [1,2,3]}

In [5]:
d5

{'abc': [1, 2, 3]}

adding the mutiple values to dictionary and dictionary inside dictionary

In [7]:
d6 = {"a" : {1,2,3}, "b" : (4,5,6), "c" : [7,8,9]}

In [10]:
d6["a"]

{1, 2, 3}

In [12]:
d6.keys()

dict_keys(['a', 'b', 'c'])

In [14]:
d6.values()

dict_values([{1, 2, 3}, (4, 5, 6), [7, 8, 9]])

In [15]:
d6.items()

dict_items([('a', {1, 2, 3}), ('b', (4, 5, 6)), ('c', [7, 8, 9])])

In [16]:
d6["d"]

KeyError: 'd'

In [19]:
d6.get("d")

in deep copy it creates the new memory location d7 dictionary

In [20]:
d7 = d6.copy()

In [21]:
d7

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9]}

In [22]:
d6

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9]}

In [26]:
d7["d"] = {10,11,12}

In [29]:
d7

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9], 'd': {10, 11, 12}}

In [31]:
d6

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9]}

in assignment the d8 and d6 points to the same reference meory location

In [32]:
d8 = d6

In [33]:
d8

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9]}

In [34]:
del d8["a"]

In [35]:
d8

{'b': (4, 5, 6), 'c': [7, 8, 9]}

In [38]:
d6

{'b': (4, 5, 6), 'c': [7, 8, 9]}

In [40]:
d6.fromkeys("b", (1,2,3))

{'b': (1, 2, 3)}

In [41]:
d6

{'b': (4, 5, 6), 'c': [7, 8, 9]}

In [42]:
d8

{'b': (4, 5, 6), 'c': [7, 8, 9]}

In [43]:
d7

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9], 'd': {10, 11, 12}}

del deletes the value and dict.pop() delets and returns the deletd value

In [44]:
del d7["d"]

In [45]:
d7

{'a': {1, 2, 3}, 'b': (4, 5, 6), 'c': [7, 8, 9]}

In [46]:
d7.pop("c")

[7, 8, 9]

In [47]:
d9 = {"key1" : "value" , "key2" : "value2"}
d10 = {"key3" : "value3" , "key4" :"value4"}

In [48]:
d9.update(d10)

In [49]:
d9

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [50]:
d10.update(d9)

In [51]:
d10

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [55]:
{for i in range(1,11)}

SyntaxError: invalid syntax (814236266.py, line 1)

In [56]:
{i : i+1 for i in range(1,11)}

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11}

In [57]:
len(d10)

4