In [1]:
print("pavan"*10)

pavanpavanpavanpavanpavanpavanpavanpavanpavanpavan

In [2]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print("pavanb", end="\b\b")

pava

In [4]:
print("Pavan","Bairu", sep=", ")

Pavan, Bairu

In [5]:
print("pavan", "bairu", sep="\b", end="\b")

pavabair

### Function Defined Inside Modules

In [6]:
from math import sqrt

sq_root = sqrt(9)

In [7]:
sq_root

3.0

In [8]:
type(sq_root)

float

In [9]:
import math

math.sqrt(25)

5.0

In [10]:
import math as m

m.sqrt(100)

10.0

### Data types

In [11]:
# integer
num1 = 6
num2 = 7

In [12]:
add = num1+num2
add

13

In [13]:
type(add)

int

In [14]:
import sys

sys.getsizeof(add)

28

In [15]:
division = num1 / num2
division

0.8571428571428571

In [16]:
type(division)

float

In [17]:
import sys

sys.getsizeof(division)

24

In [18]:
str1 = "pavan"
str2 = "bairu"
str3 = str1+ " " +str2
str3

'pavan bairu'

In [19]:
type(str3)

str

In [20]:
import sys

sys.getsizeof(str3)

52

In [21]:
#  Mayank's code
str1 = "Mayank's code"
str1

"Mayank's code"

In [22]:
# Let us "code"
str2 = 'Let us "code" today'
str2

'Let us "code" today'

In [23]:
# Let's "code"
str3 = ''' Let's "code" today '''
str3

' Let\'s "code" today '

In [24]:
# Let's "code"
str4 = """ Let's "code" today """
str4

' Let\'s "code" today '

In [25]:
# indexing

str  = "pavan bairu"
str

'pavan bairu'

In [26]:
str[0]

'p'

In [27]:
str[13]

IndexError: string index out of range

In [28]:
# negetive indexing
str[-1]

'u'

In [29]:
len(str)

11

In [30]:
str[2]

'v'

In [31]:
str[10//2]

' '

In [32]:
# unicode of storing values
ord('0')

48

In [33]:
ord('A')

65

In [34]:
ord('a')

97

## Data types are dynamic

In [36]:
result = num1 + num2   
type(result)   # result is of int type

int

In [38]:
result = num1 / num2   
type(result)   # result is of float type

float

In [39]:
result = str1+ " " +str2
type(result)     # result is of string type

str

In [40]:
# boolean
present = True
type(present)

bool

In [41]:
present

True

In [42]:
print(sys.getsizeof(present))

28

In [43]:
if present == 1:
    print(True)

True

In [44]:
present = False

In [45]:
if present == 1:
    print(True)
else:
    print(False)

False

In [46]:
a = 5
b = 7
a > b

False

In [47]:
a1 = True
b1 = True
a1+b1

2

In [48]:
a1 = False
b1 = False
a1+b1

0

In [49]:
a1 = True
b1 = False
a1+b1

1

In [50]:
-1 == True

False

In [51]:
# complex
complex_num1 = 3+4j
complex_num1

(3+4j)

In [52]:
complex_num2 = 4+8j
complex_num2

(4+8j)

In [53]:
result = complex_num1 + complex_num2

In [54]:
type(complex_num2)

complex

In [55]:
A = 10
a = 5

### Runtime Error

In [56]:
start = -2
end = 2

while start < end:
    print(end/start)
    start = start +1

-1.0
-2.0

ZeroDivisionError: division by zero

In [57]:
num1 = 100
num2 = 0
result = num1/num2

ZeroDivisionError: division by zero

In [58]:
import math

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

### Type Casting
#### implicit type casting

In [59]:
a = 5
b = 12.5

In [60]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [61]:
c = a + b
c         # float

17.5

In [62]:
print(type(c))

<class 'float'>

In [63]:
a = 15
b = True
c = a+b

In [64]:
print(c)

print(type(a))
print(type(b))
print(type(c))

16
<class 'int'>
<class 'bool'>
<class 'int'>

In [65]:
a = 15.8
b = True
c = a+b

In [66]:
print(c)

print(type(a))
print(type(b))
print(type(c))

16.8
<class 'float'>
<class 'bool'>
<class 'float'>

#### explicit type casting

In [1]:
5 + '7'  # error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
str(5) + '7' # converted "integer 5" to string

'57'

In [69]:
5 + int('7') # converted "string 7" to integer

12

##### Int

In [70]:
int(6)

6

In [71]:
int(8.3)

8

In [72]:
int(26.3363)

26

In [73]:
int('pavan')

ValueError: invalid literal for int() with base 10: 'pavan'

In [74]:
int(True)

1

In [75]:
int(3+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

##### Float

In [76]:
float(3)

3.0

In [77]:
float('pavan')

ValueError: could not convert string to float: 'pavan'

In [78]:
float('23')

23.0

In [79]:
float('67.83')

67.83

In [80]:
float(False)

0.0

In [81]:
float(6+9j)

TypeError: float() argument must be a string or a real number, not 'complex'

##### string

In [3]:
str(1)

'1'

In [4]:
str(2.345)

'2.345'

In [5]:
str('pavan')

'pavan'

In [6]:
str(True)

'True'

In [7]:
str(true)

NameError: name 'true' is not defined

In [8]:
true = False
str(true)

'False'

In [9]:
str(3+5j)

'(3+5j)'

In [10]:
str(3+5i)

SyntaxError: invalid decimal literal (1581729103.py, line 1)

In [11]:
str(5+8)

'13'

##### complex

In [12]:
complex(10)

(10+0j)

In [13]:
complex(10.2345)

(10.2345+0j)

In [93]:
complex('123')

(123+0j)

In [94]:
complex('23+4j')

(23+4j)

In [14]:
complex('23 + 4j')

ValueError: complex() arg is a malformed string

In [15]:
complex('23+4i')

ValueError: complex() arg is a malformed string

In [97]:
complex('pavan')

ValueError: complex() arg is a malformed string

In [98]:
complex(True)

(1+0j)

In [16]:
complex(False)

0j

In [17]:
complex(false)

NameError: name 'false' is not defined

##### Boolean
everything True except bool(0+0j), bool(0) bool(0.0)

In [101]:
bool(1)

True

In [102]:
bool(0)

False

In [103]:
bool(0.000)

False

In [104]:
bool(0.567)

True

In [105]:
bool(2.345)

True

In [106]:
bool(-78.234)

True

In [107]:
bool('True')

True

In [108]:
bool('False')

True

In [109]:
bool('pavan')

True

In [110]:
bool(' ')

True

In [111]:
bool('') # only with string length = 0  are false else true

False

In [112]:
bool('123')

True

In [113]:
bool('123.567')

True

In [114]:
bool(2+3j)

True

In [115]:
bool(0+0j)

False

In [116]:
bool(0+2j)

True

In [117]:
bool(1+0j)

True

In [118]:
bool(2+3i)

SyntaxError: invalid decimal literal (2924598204.py, line 1)

In [119]:
bool(complex("0+0j"))

False

In [120]:
bool([]) # Everything True except Empty list, set & tuple

False

In [121]:
bool({})

False

In [122]:
bool(())

False

##### string concatenation

In [125]:
str1 = 'pavan'
str2 = 'bairu'
str1+str2

'pavanbairu'

In [126]:
str1+' '+str2

'pavan bairu'

In [129]:
'python' + True

TypeError: can only concatenate str (not "bool") to str

In [128]:
'python' * True

'python'

In [130]:
'python' * (True + True)

'pythonpython'