In [73]:
print("pavan"*10)

pavanpavanpavanpavanpavanpavanpavanpavanpavanpavan

In [74]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [75]:
print("pavanb", end="\b\b")

pava

In [76]:
print("Pavan","Bairu", sep=", ")

Pavan, Bairu

In [77]:
print("pavan", "bairu", sep="\b", end="\b")

pavabair

### Function Defined Inside Modules

In [78]:
from math import sqrt

sq_root = sqrt(9)

In [79]:
sq_root

3.0

In [80]:
type(sq_root)

float

In [81]:
import math

math.sqrt(25)

5.0

In [82]:
import math as m

m.sqrt(100)

10.0

### Data types

In [83]:
# integer
num1 = 6
num2 = 7

In [84]:
add = num1+num2
add

13

In [85]:
type(add)

int

In [86]:
import sys

sys.getsizeof(add)

28

In [87]:
division = num1 / num2
division

0.8571428571428571

In [88]:
type(division)

float

In [89]:
import sys

sys.getsizeof(division)

24

In [90]:
str1 = "pavan"
str2 = "bairu"
str3 = str1+ " " +str2
str3

'pavan bairu'

In [91]:
type(str3)

str

In [92]:
import sys

sys.getsizeof(str3)

52

In [26]:
#  Mayank's code
str1 = "Mayank's code"
str1

"Mayank's code"

In [23]:
# Let us "code"
str2 = 'Let us "code" today'
str2

'Let us "code" today'

In [21]:
# Let's "code"
str3 = ''' Let's "code" today '''
str3

' Let\'s "code" today '

In [25]:
# Let's "code"
str4 = """ Let's "code" today """
str4

' Let\'s "code" today '

In [28]:
# indexing

str  = "pavan bairu"
str

'pavan bairu'

In [29]:
str[0]

'p'

In [30]:
str[13]

IndexError: string index out of range

In [33]:
# negetive indexing
str[-1]

'u'

In [42]:
len(str)

11

In [38]:
str[2]

'v'

In [47]:
str[10//2]

' '

In [7]:
# unicode of storing values
ord('0')

48

In [8]:
ord('A')

65

In [9]:
ord('a')

97

## Data types are dynamic

In [93]:
result = num1 + num2   
type(result)   # result is of int type

int

In [94]:
result = num1 / num2   
type(result)   # result is of float type

float

In [95]:
result = str1+ " " +str2
type(result)     # result is of string type

str

In [96]:
# boolean
present = True
type(present)

bool

In [97]:
present

True

In [98]:
print(sys.getsizeof(present))

28

In [99]:
if present == 1:
    print(True)

True

In [100]:
present = False

In [101]:
if present == 1:
    print(True)
else:
    print(False)

False

In [2]:
a = 5
b = 7
a > b

False

In [3]:
a1 = True
b1 = True
a1+b1

2

In [4]:
a1 = False
b1 = False
a1+b1

0

In [5]:
a1 = True
b1 = False
a1+b1

1

In [6]:
-1 == True

False

In [102]:
# complex
complex_num1 = 3+4j
complex_num1

(3+4j)

In [103]:
complex_num2 = 4+8j
complex_num2

(4+8j)

In [104]:
result = complex_num1 + complex_num2

In [105]:
type(complex_num2)

complex

In [55]:
A = 10
a = 5

### Runtime Error

In [108]:
start = -2
end = 2

while start < end:
    print(end/start)
    start = start +1

-1.0
-2.0

ZeroDivisionError: division by zero

In [109]:
num1 = 100
num2 = 0
result = num1/num2

ZeroDivisionError: division by zero

In [1]:
import math

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

### Type Casting